/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui/core
 *= require jquery-ui/progressbar
 *= require ../javascripts/jquery-file-upload/css/jquery.fileupload.css
 *= require bootstrap.min
 *= require magnific-popup
 *= require_self
 */

/* bootstrap font location overrides */
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../assets/glyphicons-halflings-regular.eot');
  src: url('../assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
       url('../assets/glyphicons-halflings-regular.woff') format('woff'), 
       url('../assets/glyphicons-halflings-regular.ttf') format('truetype'), 
       url('../assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.photo-container {
	margin-top: 10px;
}

.photo-elem {
	max-width: 140px;
}
@media (min-width: 500px) {
	.photo-elem {
		max-width: 100%;
	}
}
@media (min-width: 800px) {
	.photo-elem {
		max-width: 100%;
	}
}


.photo-elem {
	margin-bottom: 2px;
	margin-right: 2px;
	display:inline-block;
}
.photo-elem a {
	
}
.photo-elem a img {

}
.photo-elem a.download {
	
}

.album {
	vertical-align: top;
}
.album .image {
	display: inline-block;
	margin-right: 10px;
}
.album .details {
	display: inline-block;
	vertical-align: top;
}


/* Upload stuff */
.progress {
  max-width: 600px;
  margin:    0.2em 0 0.2em 0;
}

.progress .bar {
  height:  1.2em;
  padding: 0.2em;
  color:   white;
  display: none;
}